.skill--item {
display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(254,110,110);
}

.img{
    height: 5rem;
    width: 5rem;
}
.skill--card {
    margin: 50px 10%;
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,150px));
    gap: 1.5rem;
}