
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;500;600&family=Sedgwick+Ave+Display&display=swap');

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
  }

  body{
    background: black;
  }

  h1,h4,p, a{
        color: white;
        text-decoration: none;

  }

  ul{
    list-style: none;
  }